<div style="color:green"> <%= flash[:notice] %> </div>
<table>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
  </tr>
  <% @user_list.each do |registro| %>
  <tr>
    <td><%= registro.id %></td>
    <td><%=registro.username %> </td>
    <td>
        <%= link_to "Eliminar", "/users/" + registro.id.to_s, method: :delete%>
        <%= link_to "Archivos", "~" + registro.username %>
    </td>
  </tr>
  <% end %>
</table>
